<ion-toolbar class="toolbar" color="light">
  <ion-img class="logo" src="assets\icon\logo.png">  
  </ion-img>
  <ion-title>Southern Jade Life Insurance</ion-title>
</ion-toolbar>



<ion-content [fullscreen]="true" class="body">

  <ion-toolbar>
    <ion-title class="bar">Notify Clients</ion-title>
  </ion-toolbar>


  <ion-grid>
    <ion-row>
      <ion-col>
          <div size="4">
            <ion-select
            interface="popover"
            toggleIcon="caret-down-sharp"
            expandedIcon="caret-up-sharp"
            aria-label="fruit"
            placeholder="All"
            fill="outline"
          >
            <ion-select-option value="Filter1">Active</ion-select-option>
            <ion-select-option value="Filter2">Inactive</ion-select-option>
        
          </ion-select>
        </div>
      </ion-col>
      <ion-col size="8">
        <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="auto" class="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <h5>Allysa Jane Catibog</h5>
          <p>subcontents Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, facere!</p>
        </ion-col>
        <ion-col size="auto" class="check">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <h5>Marco Luis Hernandez</h5>
          <p>subcontents Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, facere!</p>
        </ion-col>
        <ion-col size="auto" class="notif">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <h5>Jasmine Ramos</h5>
          <p>subcontents Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, facere!</p>
        </ion-col>
        <ion-col size="auto" class="notif">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <h5>Janelle Adrianna Casabuena</h5>
          <p>subcontents Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, facere!</p>
        </ion-col>
        <ion-col size="auto" class="check">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <h5>James Andrew Castillo</h5>
          <p>subcontents Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, facere!</p>
        </ion-col>
        <ion-col size="auto" class="notif">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <h5>Lance Krhistian Manalo</h5>
          <p>subcontents Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, facere!</p>
        </ion-col>
        <ion-col size="auto" class="check">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <h5>John Patrick Limpiada</h5>
          <p>subcontents Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, facere!</p>
        </ion-col>
        <ion-col size="auto" class="check">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
