<ion-content [fullscreen]="true" class="body">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registration</ion-title>
    </ion-toolbar>
  </ion-header>




  <div id="logo">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-img class="logo" src="assets\icon\logajade.png">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>




  <div class="text">
    <h1>
      Registration
    </h1>
    <p>&nbsp; for? </p>
  </div>




  <div class="button">
    <ion-button routerLink="/agent"  class="btn1" size="large"> Agent</ion-button>
    <ion-button routerLink="/client"  class="btn2" size="large"> Client</ion-button>
  </div>
</ion-content>



