.toolbar {
    text-align: center;
    --ion-color-light: #9cf29e;
    display: inline-block;


}
.toolbar ion-title {
 color:black;
 display: inline-block;
}
.body{
    --ion-background-color: #f8fff9;
}
.logo {
    height: 35px;
    width: 35px;
    display: inline-block;
}
.clientpage h1 {
    font-size: 55px;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 10%;
    font-family: sans-serif;
    color:#000000
}
.clientpage p {
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    margin-top: 0%;
    color: #747171;
   
}
.clientpage h2 {
    text-align: left;
    margin: 10%;
    position: absolute;
    left: 0;
    right: 0;
    top: 28%;
    transform: translateY(-50%);
    color: #747171;
    font-size: 20px;
}
.client {
    text-align: left;
    margin: 10%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #747171;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(109, 231, 109, 0.4);
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(115, 117, 115, 0.2), 0 6px 20px 0 rgba(58, 234, 164, 0.668);
  }
#btn {
    text-align: center;
    padding-top: 110%;
}
.signbtn {
    font-weight: bold;
    width: 50%;
    margin-left: 45px;
    margin-right: 45px;
}
  #btn p {
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding-top:25%;
}
#btn a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.underline {
    border-bottom: 2px solid gray;
  }





  ion-modal {
    --height: 30%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #9cf29e;
    --color: white;
  }
  
  .check{
    display: flex;
    justify-content: center;
    padding-top: 45px;
  }
  .check ion-icon{
    font-size: 60px;
    color: green;
  }
  .text{
    font-size: 28px;
    font-weight: 100;
    padding-top: 30px;
  }