



<ion-toolbar class="toolbar" color="light">
  <ion-img class="logo" src="assets\icon\logo.png">  
  </ion-img>
  <ion-title>Southern Jade Life Insurance</ion-title>
</ion-toolbar>


<ion-content
  [fullscreen]="true" class="body" >
    <ion-header collapse="condense"> </ion-header>
<div class="chistorypage">
<h1> Transaction History </h1>
</div>




<ion-grid>
<ion-row>
  <ion-col class="time"> Transaction as of 2023-09-25</ion-col>
</ion-row>


<ion-row>
  <ion-col class="send"><b>ID: 0384 </b> Allysa Jane Catibog <p> 2023-01-25 | 19:37:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-02-25 | 15:37:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-03-25 | 12:34:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-04-25 | 17:31:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-05-25 | 14:27:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-06-25 | 17:39:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-07-25 | 13:25:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-08-25 | 20:15:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-06-25 | 17:39:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-07-25 | 13:25:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
<ion-row>
  <ion-col class="send"><b>ID: 0384 </b>Allysa Jane Catibog <p> 2023-08-25 | 20:15:18</p> </ion-col>
  <ion-col size="auto" class="digit">1000.00</ion-col>
</ion-row>
</ion-grid>
</ion-content>





