

<ion-toolbar class="toolbar" color="light">
  <ion-img class="logo" src="assets\icon\logo.png">  
  </ion-img>
  <ion-title>Southern Jade Life Insurance</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" class="body">
  <div class="notification">
    <h1> Notification </h1>
  </div>
<ion-grid>
  <ion-row>
      <div>
      <h6>Catibog, Allysa Jane B.</h6>
      <p> Client Allysa Jane Catibog have been sent PHP 1000.00. <br> Ref. No. 00102873658 </p>
    </div>
  </ion-row>
  <ion-row>
    <div>
    <h6>Catibog, Allysa Jane B.</h6>
    <p> Client AllysaJane Catibog have been sent PHP 1000.00. <br> Ref. No. 00102873658  </p>
  </div>
</ion-row>
<ion-row>
  <div>
  <h6>Catibog, Allysa Jane B.</h6>
  <p> Client AllysaJane Catibog have been sent PHP 1000.00. <br> Ref. No. 00102873658  </p>
</div>
</ion-row>
<ion-row>
  <div>
  <h6>Catibog, Allysa Jane B.</h6>
  <p> Client AllysaJane Catibog have been sent PHP 1000.00. <br> Ref. No. 00102873658  </p>
</div>
</ion-row>
<ion-row>
  <div>
  <h6>Catibog, Allysa Jane B.</h6>
  <p> Client AllysaJane Catibog have been sent PHP 1000.00. <br> Ref. No. 00102873658  </p>
</div>
</ion-row>
<ion-row>
  <div>
  <h6>Catibog, Allysa Jane B.</h6>
  <p> Client AllysaJane Catibog have been sent PHP 1000.00. <br> Ref. No. 00102873658  </p>
</div>
</ion-row>
<ion-row>
  <div>
  <h6>Catibog, Allysa Jane B.</h6>
  <p> Client AllysaJane Catibog have been sent PHP 1000.00. <br> Ref. No. 00102873658  </p>
</div>
</ion-row>

</ion-grid>
</ion-content>
