<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="anotification">
      <ion-icon name="notifications-outline"></ion-icon>
    
    </ion-tab-button>
    <ion-tab-button tab="anotify">
      <ion-icon name="paper-plane-outline"></ion-icon>
   
    </ion-tab-button>

    <ion-tab-button tab="ahistory">
      <ion-icon name="time-outline"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="auser">
      <ion-icon name="person-circle-outline"></ion-icon>
  
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>