
<ion-tabs >

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="cnotification" class="notification">
      <ion-icon name="notifications-outline"></ion-icon>
    
    </ion-tab-button>
    <ion-tab-button tab="cnotify" class="notify">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chistory" class="history">
      <ion-icon name="time-outline"></ion-icon>
 
    </ion-tab-button>

    <ion-tab-button tab="cuser" class="user">
      <ion-icon name="person-circle-outline"></ion-icon>
  
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>