<ion-header [translucent]="true" class="home">

</ion-header>

<ion-content [fullscreen]="true" class="homepage">
  <div class="container" id="logo"> 
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-img class="logo" src="assets\icon\logajade.png">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="container" id="container">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-img src="assets\icon\jade.png">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid> 
    <ion-button  class="btn" size="large" routerLink="/login"> Start</ion-button>
    <br>
    <br>
    <p>For more information. <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/southernjade092418.prulifeukbatangascity%22%3E">Click Here! </a></p> 
    </div>
</ion-content>
  